@import url("./variables.css");
@import url("./extra-classes.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

#app {
  width: 1512px;
  padding: 0px calc(var(--padding-l) + 1px);
  font-family: var(--primary-font);
  background: var(--fourth-color);
  overflow-x: hidden;
}

.logo {
  width: 94px;
  height: 54px;
}

.icon {
  width: 48px;
  height: 48px;
  margin-right: calc(var(--margin-m) - 5px);
}

.header {
  padding-top: calc(var(--padding-m) + 10px);
}

.nav {
  width: 516px;
}

.items {
  width: 88px;
}

.item-img {
  height: 20px;
  width: 20px;
}

.main {
  margin-top: calc(var(--margin-m) + 12px);
}

.main__title {
  margin-right: 3rem;
  font-family: var(--third-font);
  font-weight: 100;
}

.main__text {
  margin-top: var(--margin-m);
}

.main__img {
  width: 655px;
  height: 655px;
}

.button-wrapper {
  margin-top: calc(var(--margin-l) - 5px);
}

.button {
  padding: calc(var(--padding-s) - 2px) calc(var(--margin-xl) + 7px);
  border: 1px solid var(--primary-border);
  background: inherit;
}

.about-us__img {
  height: 664px;
  width: 560px;
}

.about-us__info {
  width: 564px;
}

.about-us__info > .title {
  justify-content: start;
  font-family: var(--third-font);
}

.benefits {
  margin-top: var(--padding-xl);
}

.paragraph {
  margin-top: var(--margin-m);
  color: var(--secondary-color);
  line-height: 27px;
}

.about-us__info > .button-wrapper {
  margin-top: calc(var(--margin-l) + var(--margin-m));
}

.info-title {
  justify-content: start;
}

.benefit__paragraph {
  margin-top: var(--margin-s);
}

.banner-img {
  position: relative;
  width: 1512px;
  left: -38px;
}

.image {
  height: 440px;
  width: 440px;
}

.catalog__title,
.bestsellers__row {
  margin-top: var(--margin-m);
}

.comment {
  position: relative;
  padding: var(--padding-s);
  margin-top: var(--margin-xl);
}

.comment:first-child,
.comment:nth-child(2) {
  background: #dfdfdf;
}

.comment:first-child {
  top: 40px;
}

.comment:nth-child(3) {
  border: 1px solid var(--secondary-color);
  top: -55px;
  left: 250px;
  background: var(--fourth-color);
}

.comment-person {
  justify-content: start;
}

.comment-image {
  width: 50px;
  height: 50px;
  margin-right: var(--margin-s);
}

.comment__paragraph {
  margin-top: var(--margin-s);
}

.name {
  color: var(--secondary-color);
}

.bestsellers-item__price {
  margin: var(--margin-s);
  font-weight: 700;
}

.bestsellers__icon {
  width: 40px;
  height: 40px;
}

.swipe-grey,
.swipe-white {
  width: 12px;
  height: 12px;
  margin-top: 107.5px;
}

.swipe-grey {
  background: #777777;
  border-radius: 3px;
}

.swipe-white {
  background: #dfdfdf;
  border-radius: 3px;
}

.individual-order__info {
  background: url(../public/images/backgrounds/background-1.png);
  width: 1512px;
  height: 800px;
  padding-left: 56px;
}

.individual-order__title {
  padding-top: 99px;
}
.individual-order__form {
  display: flex;
  flex-direction: column;
  width: 560px;
  padding-top: 55px;
}

#fname,
#pnumber,
#email,
#comment {
  border: none;
  background: inherit;
  border-bottom: 1px solid #dfdfdf;
  margin-top: 14px;
  margin-bottom: 24px;
}

.attachment {
  background: var(--third-color);
  width: 191px;
  height: 48px;
}

.attachment-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  position: relative;
  top: 12px;
}

.attachment-icon {
  height: 14px;
  width: 14px;
}

.attachment-text {
  display: flex;
  color: var(--fourth-color);
}

.id-button-wrapper {
  margin-top: calc(var(--margin-xl) + 15px);
}
.id-button-text {
  width: 168px;
}

.id-description {
  width: 363px;
  margin-top: var(--margin-s);
}

.info-section {
  padding-bottom: var(--padding-xxl);
}
.info-logo {
  height: 286px;
}

.logo-wrapper {
  position: relative;
  left: 20px;
}
.socials-wrapper {
  margin-top: 24px;
}
.socials-logo {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.information-link__wrapper,
.address__wrapper,
.contacts__wrapper {
  margin-top: 42px;
  height: 178px;
}

.information-link,
.address-text,
.contacts-text {
  padding-bottom: 30px;
}

.contacts__wrapper {
  width: 320px;
}

#enter {
  width: 320px;
  border: none;
  background: inherit;
  border-bottom: 1px solid #dfdfdf;
  margin-top: 14px;
  margin-bottom: 24px;
}

.side-panel__icon {
  width: 11.77px;
  height: 20px;
  position: relative;
  bottom: 75px;
  left: 300px;
}

.info-link__wrapper {
  width: 433px;
  padding-bottom: var(--padding-m);
}

.rights {
  padding-bottom: var(--padding-xl);
}
